<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} - {% endif %}uComponents</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ page.description }}">
		
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<style type="text/css">
			body {padding-top: 60px; padding-bottom: 40px;}
			.sidebar-nav {padding: 9px 0;}
			table {margin-bottom: 20px;}
			th, td {border: solid 1px #BBB; padding: 3px 5px; text-align: left;}
			th {background-color: #F5F5F5; border-bottom: 0;}
		</style>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>
		<a class="fork-me" href="https://github.com/uComponents/ucomponents.github.com"><img style="position:absolute;top:0;right:0;border:0;z-index:1999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/"><img src="/favicon.png" alt="[favicon]"> uComponents</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/contribution.html">Contribution</a></li>
							<li><a href="http://our.umbraco.org/projects/backoffice-extensions/ucomponents">Our Umbraco</a></li>
							<li><a href="http://ucomponents.codeplex.com/">CodePlex</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Documentation</li>
							<li class="active"><a href="/">About uComponents</a></li>
							<li><a href="/contribution.html">How to contribute and develop</a></li>
							<li>
								<a href="/controls/">Controls</a>
								<!--<ul>
									<li><a href="/controls/">EditProperty</a></li>
									<li><a href="/controls/">GetMedia</a></li>
									<li><a href="/controls/">RenderTemplate</a></li>
								</ul>-->
							</li>
							<li>
								<a href="/data-types/">Data Types</a>
								<ul>
									<li><a href="/data-types/auto-complete/">Auto Complete</a></li>
									<li><a href="/data-types/character-limit/">Character Limit</a></li>
									<!--<li><a href="/data-types/">CheckBoxTree</a></li>         -->
									<!--<li><a href="/data-types/">CountryPicker</a></li>        -->
									<!--<li><a href="/data-types/">DataTypeGrid</a></li>         -->
									<li><a href="/data-types/dropdown-checklist/">DropDown CheckList</a></li>
									<li><a href="/data-types/elastic-textbox/">Elastic TextBox</a></li>
									<!--<li><a href="/data-types/">EnumCheckBoxList</a></li>     -->
									<!--<li><a href="/data-types/">EnumDropDownList</a></li>     -->
									<!--<li><a href="/data-types/">FileDropDownList</a></li>     -->
									<li><a href="/data-types/file-picker/">FilePicker</a></li>
									<!--<li><a href="/data-types/">IncrementalTextBox</a></li>   -->
									<!--<li><a href="/data-types/">MultiPickerRelations</a></li> -->
									<!--<li><a href="/data-types/">MultipleDates</a></li>        -->
									<!--<li><a href="/data-types/">MultiUrlPicker</a></li>       -->
									<!--<li><a href="/data-types/">Notes</a></li>                -->
									<!--<li><a href="/data-types/">PropertyPicker</a></li>       -->
									<!--<li><a href="/data-types/">RelationLinks</a></li>        -->
									<!--<li><a href="/data-types/">RenderMacro</a></li>          -->
									<!--<li><a href="/data-types/">Similarity</a></li>           -->
									<li><a href="/data-types/sql-auto-complete/">SQL Auto Complete</a></li>
									<!--<li><a href="/data-types/">SqlCheckBoxList</a></li>      -->
									<!--<li><a href="/data-types/">SqlDropDownList</a></li>      -->
									<!--<li><a href="/data-types/">SubTabs</a></li>              -->
									<!--<li><a href="/data-types/">TextImage</a></li>            -->
									<!--<li><a href="/data-types/">TextstringArray</a></li>      -->
									<!--<li><a href="/data-types/">ToggleBox</a></li>            -->
									<!--<li><a href="/data-types/">UrlPicker</a></li>            -->
									<!--<li><a href="/data-types/">UserPicker</a></li>           -->
									<!--<li><a href="/data-types/">XPathAutoComplete</a></li>    -->
								</ul>
							</li>
							<li>
								<a href="/macro-engines/">Macro Engines</a>
								<!--<ul>
									<li><a href="/macro-engines/">StaticFileMacroEngine</a></li>
									<li><a href="/macro-engines/">XsltMacroEngine</a></li>
								</ul>-->
							</li>
							<li>
								<a href="/not-found-handlers/">Not Found Handlers</a>
								<!--<ul>
									<li><a href="/not-found-handlers/">MultiSitePageNotFoundHandler</a></li>
									<li><a href="/not-found-handlers/">SearchFor301MovedPermanently</a></li>
									<li><a href="/not-found-handlers/">SearchForPageNotFound</a></li>
								</ul>-->
							</li>
							<li><a href="/ui-modules/">UI Modules</a></li>
							<li>
								<a href="/xslt-extensions/">XSLT Extensions</a>
								<ul>
									<li><a href="/xslt-extensions/cms/">CMS</a></li>
									<li><a href="/xslt-extensions/dates/">Dates</a></li>
									<li><a href="/xslt-extensions/email/">Email</a></li>
									<li><a href="/xslt-extensions/io/">IO</a></li>
									<li><a href="/xslt-extensions/media/">Media</a></li>
									<li><a href="/xslt-extensions/members/">Members</a></li>
									<li><a href="/xslt-extensions/nodes/">Nodes</a></li>
									<li><a href="/xslt-extensions/random/">Random</a></li>
									<li><a href="/xslt-extensions/request/">Request</a></li>
									<li><a href="/xslt-extensions/search/">Search</a></li>
									<li><a href="/xslt-extensions/strings/">Strings</a></li>
									<li><a href="/xslt-extensions/urls/">URLs</a></li>
									<li><a href="/xslt-extensions/xml/">XML</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="span9">
					{{ content }}
				</div>
			</div>
			
			<hr>
			
			<footer>
				<p>uComponents &copy; The Umbraco Community 2012</p>
			</footer>
		</div>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
	</body>
</html>
