---
navigation:
- title: About uComponents
  url: /index.html
- title: How to contribute and develop
  url: /contribution/
- title: DataTypes
  url: /data-types/index.html
  subnav:
  - title: Auto Complete
    url: /data-types/auto-complete/index.html
  - title: Character Limit
    url: /data-types/character-limit/index.html
  - title: DropDown CheckList
    url: /data-types/dropdown-checklist/index.html
  - title: Elastic TextBox
    url: /data-types/elastic-textbox/index.html
  - title: Enum DropDownList
    url: /data-types/enum-dropdownlist/index.html
  - title: FilePicker
    url: /data-types/file-picker/index.html
  - title: Multi-URL Picker
    url: /data-types/multi-url-picker/index.html
  - title: Relation Links
    url: /data-types/relation-links/index.html
  - title: SQL AutoComplete
    url: /data-types/sql-auto-complete/index.html
  - title: Text Image
    url: /data-types/text-image/index.html
  - title: URL Picker
    url: /data-types/url-picker/index.html
- title: uMapper
  url: /umapper/index.html
  subnav:
  - title: Creating Maps
    url: /umapper/creating-maps/index.html
  - title: Inheritance
    url: /umapper/inheritance/index.html
  - title: Querying
    url: /umapper/querying/index.html
- title: uQuery
  url: /uquery/index.html
- title: XSLT Extensions
  url: /xslt-extensions/index.html
  subnav:
  - title: CMS
    url: /xslt-extensions/cms/index.html
  - title: Dates
    url: /xslt-extensions/dates/index.html
  - title: Email
    url: /xslt-extensions/email/index.html
  - title: IO
    url: /xslt-extensions/io/index.html
  - title: Media
    url: /xslt-extensions/media/index.html
  - title: Members
    url: /xslt-extensions/members/index.html
  - title: Nodes
    url: /xslt-extensions/nodes/index.html
  - title: Random
    url: /xslt-extensions/random/index.html
  - title: Request
    url: /xslt-extensions/request/index.html
  - title: Search
    url: /xslt-extensions/search/index.html
  - title: Strings
    url: /xslt-extensions/strings/index.html
  - title: Urls
    url: /xslt-extensions/urls/index.html
  - title: Xml
    url: /xslt-extensions/xml/index.html
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ page.description }}">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>
		<a class="fork-me" href="https://github.com/uComponents/ucomponents.github.com"><img style="position:absolute;top:0;right:0;border:0;z-index:1999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/"><img src="/favicon.png" alt="[favicon]"> {{ site.title }}</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/contribution/">Contribution</a></li>
							<li><a href="http://our.umbraco.org/projects/backoffice-extensions/ucomponents">Our Umbraco</a></li>
							<li><a href="http://ucomponents.codeplex.com/">CodePlex</a></li>
							<li><a href="http://nuget.org/packages/uComponents">NuGet</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Documentation</li>{% for item in page.navigation %}
							<li{% if item.url == page.url %} class="active"{% endif %}>
								<a href="{{ item.url | replace:'index.html','' }}">{{ item.title }}</a>
								<ul>{% for subpage in item.subnav %}
									<li{% if subpage.url == page.url %} class="active"{% endif %}>
										<a href="{{ subpage.url | replace:'index.html','' }}">{{ subpage.title }}</a>
									</li>{% endfor %}
								</ul>
							</li>{% endfor %}
						</ul>
					</div>
				</div>
				<div class="span9">
					{{ content }}
				</div>
			</div>
			
			<hr>
			
			<footer>
				<p style="float: left;">{{ site.title }} &copy; The Umbraco Community 2012</p>
				<p style="float: right;">Last updated on: {{ site.time | date: "%a %d %b %Y" }}</p>
				
			</footer>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-122639-12']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
	</body>
</html>
