---
navigation:
- title: About uComponents
  url: /index.html
- title: How to contribute and develop
  url: /contribution/
- title: Umbraco compatibility
  url: /compatibility/
- title: DataTypes
  url: /data-types/index.html
- title: Macro Engines
  url: /macro-engines/
- title: uMapper
  url: /umapper/index.html
- title: uQuery
  url: /uquery/index.html
- title: XSLT Extensions
  url: /xslt-extensions/index.html
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ page.description }}">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>
		<a class="fork-me" href="https://github.com/uComponents/uComponents"><img style="position:absolute;top:0;right:0;border:0;z-index:1999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/"{% if '/index.html' == page.url %} style="color:#fff;"{% endif %}><img src="/favicon.png" alt="[favicon]"> {{ site.title }}</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/contribution/">Contribute</a></li>
							<li><a href="http://our.umbraco.org/projects/backoffice-extensions/ucomponents">Get the Umbraco package</a></li>
							<li><a href="http://nuget.org/packages/uComponents">Get the NuGet package</a></li>
							<li><a href="https://github.com/uComponents/uComponents">Get the source-code</a></li>
							<li><a href="https://github.com/uComponents/uComponents/issues">File a bug</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Documentation</li>{% for item in page.navigation %}
							<li{% if item.url == page.url %} class="active"{% endif %}>
								<a href="{{ item.url | replace:'index.html','' }}">{{ item.title }}</a>
								{% comment %}<ul>{% for subpage in item.subnav %}
									<li{% if subpage.url == page.url %} class="active"{% endif %}>
										<a href="{{ subpage.url | replace:'index.html','' }}">{{ subpage.title }}</a>
									</li>{% endfor %}
								</ul>{% endcomment %}
							</li>{% endfor %}
						</ul>
					</div>
				</div>
				<div class="span9">
					{{ content }}
				</div>
			</div>
			
			<hr>
			
			<footer>
				<p style="float: left;">{{ site.title }} &copy; 2010-{{ site.time | date: "%Y" }} The Umbraco Community</p>
				<p style="float: right;">Last updated on: {{ site.time | date: "%a %d %b %Y" }}</p>
				
			</footer>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-122639-12']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
	</body>
</html>
