---
layout: default
---

<div class="page-header">
	<h1>XSLT Extensions: {{ page.title }}</h1>
	{% if page.description %}<p>{{ page.description }}</p>{% endif %}
	{% if page.retired_version %}<span class="label label-inverse pull-right" style="margin-left:5px;" title="Retired from uComponents in version {{ page.retired_version }}">v{{ page.retired_version }}</span> <i class="icon-arrow-right pull-right"></i> {% endif %}
	{% if page.since_version %}<span class="label label-info pull-right" style="margin-right:5px;" title="Available since uComponents version {{ page.since_version }}">v{{ page.since_version }}</span>{% endif %}
</div>

<div class="row-fluid">
	<section class="span9">
		{{ content }}
	</section>
	<section class="span3">
		<div class="cta-btns">
			<a href="https://github.com/uComponents/ucomponents.github.com/edit/master{{ page.url | replace: 'index.html', 'index.md' }}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Improve this doc</a>
		</div>
		{% if page.sidebar %}
		<aside class="alert alert-block alert-info sidebar">
			{{ page.sidebar }}
		</aside>
		{% endif %}
	</section>
</div>
